<!doctype html>
<html class="no-js" ng-app="cancel">
    <head>
        <meta charset="utf-8">
        <title>Application</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    </head>
    <body ng-controller="Main">
        <button ng-click="fetchByHttp()">Fetch Data by $http</button>
        <button ng-click="fetchByResource()">Fetch Data by $resource</button>
        <button ng-click="cancel()">Cancel</button>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="application.js"></script>
</body>
</html>